@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-500;
$color-background-default: $color-neutral-100;
$color-text-interactive-default: $color-neutral-500;
$color-text-interactive-hover: $color-neutral-500;

// set to 0 to disable
$letter-spacing-loose: -5/100;

$border-radius-1: $size-4;
$border-radius-2: $size-9;

$box-shadow-1: 16px 32px 56px rgba(143, 174, 207, 25%);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-base;
$heading-color-default: $color-neutral-700;
$heading-font-weight: $font-weight-semi-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-800;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $font-size-700;
$heading-3-color: $heading-color-default;
$heading-4-font-size: $font-size-600;
$heading-4-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: $size-6;
$container-min-margin-inline-medium: $size-10;
$container-max-width: 72.5rem;
// $container-max-width-narrow: 40rem;
// $container-max-width-wide: 75rem;

// site header
$site-header-background-color: transparent;
$site-header-color: $color-text-default;
$site-header-padding-small-screen: $size-6 0 $size-8;
$site-header-padding-medium-screen: $size-8 0 $size-10;
$site-header-padding-large-screen: $size-19 0 $size-7;
$site-header-margin: 0;
$site-header-jusitifcation-small-screens: center;
$site-header-jusitifcation-large-screens: flex-start;
$site-header-alignment: center;

// buttons
// $button-font-family: $body-font-family;
// $button-font-size: $font-size-400;
// $button-font-weight: $font-weight-bold;
// $button-text-transform: uppercase;
// $button-padding: 0.75em 2em;
// $button-border: 0;
// $button-border-radius: $border-radius-1;

// $button-accent-color: $color-neutral-100;
// $button-accent-background: $color-accent-400;
// $button-accent-color-hover: $color-neutral-100;
// $button-accent-background-hover: $color-accent-500;
// $button-primary-color: $color-neutral-100;
// $button-primary-background: $color-primary-700;
// $button-primary-color-hover: $color-neutral-100;
// $button-primary-background-hover: $color-primary-800;

// cards
$card-flow-spacing: $size-4;
$card-padding: $size-6;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-1;
$card-background-default: $color-neutral-100;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1.5;
$card-heading-color-default: $heading-color-default;
$card-heading-font-size: $heading-4-font-size;

// forms
$form-label-color: $color-neutral-500;
$form-label-font-family: $body-font-family;
$form-label-font-weight: $font-weight-default;
$form-label-font-size: $font-size-300;

$form-input-color: $color-neutral-700;
$form-input-font-family: $body-font-family;
$form-input-font-weight: $font-weight-semi-bold;
$form-input-font-size: $font-size-700;
$form-input-background-color: $color-neutral-100;
$form-input-border-default: 2px solid hsl(200, 24%, 88%);
$form-input-border-focus: 2px solid $color-primary-400;
$form-input-padding: $size-5 $size-6;
$form-input-border-radius: $size-3;

// $form-placeholder-color: $color-primary-300;
// $form-placeholder-font-family: $form-input-font-family;
// $form-placeholder-font-weight: $form-input-font-weight;
// $form-placeholder-font-size: $body-font-size;

$form-group-spacing: 0.5rem;
