---
import Layout from "../layouts/BaseLayout.astro";
import BMICalculator from "../components/BMICalculator.astro";
import BMIMeaning from "../components/BMIMeaning.astro";
import BMIControl from "../components/BMIControl.astro";
import BMILimitations from "../components/BMILimitations.astro";
---

<Layout title="Frontend Mentor | Body Mass Index Calculator">
  <div class="main-wrapper">
    <BMICalculator />

    <BMIMeaning />

    <BMIControl />

    <BMILimitations />
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-18;

    @include mq(medium) {
      gap: $size-22;
    }

    @include mq(large) {
      gap: 0;
    }
  }
</style>
