@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
  // .......................................
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $gradient-1;
    border-radius: 0 0 35px 35px;
    width: 100%;
    height: 640px;
    z-index: -1;
    @include mq(large) {
      width: 65%;
      height: 737px;
      left: 2%;
    }
  }
}

main {
  margin-block-end: $size-22;

  @include mq(large) {
    margin-block-end: 7.5rem;
  }
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}
